<div class="whoweare">
  <div class="organization">
    <div class="commonTitle">
      <span class="commonThreeDots">¿Quienes somos?</span>
    </div>
    <div class="organization-body">
      <div class="person">
        <div class="image">
          <img src="/assets/img/EmiliaVarelaSouto.jpg" alt="Emilia Varela">
        </div>
        <div class="description">
          <span class="name commonThreeDots">Mª Emilia Varela Souto</span>
          <span class="job commonThreeDots">Directora</span>
        </div>
      </div>
      <div class="person">
        <div class="image">
          <img src="/assets/img/profile_undefined.jpg" alt="Undefined Guy">
        </div>
        <div class="description">
          <span class="name commonThreeDots">Chico random</span>
          <span class="job commonThreeDots">Unemployed</span>
        </div>
      </div>
      <div class="person">
        <div class="image">
          <img src="/assets/img/profile_undefined.jpg" alt="Undefined Guy">
        </div>
        <div class="description">
          <span class="name commonThreeDots">Chico random</span>
          <span class="job commonThreeDots">Unemployed</span>
        </div>
      </div>
      <div class="person">
        <div class="image">
          <img src="/assets/img/profile_undefined.jpg" alt="Undefined Guy">
        </div>
        <div class="description">
          <span class="name commonThreeDots">Chico random</span>
          <span class="job commonThreeDots">Unemployed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="whoweare-body">
    <p>Enxebre Residencial es una empresa con ideas innovadoras y más de 25 años de experiencia profesional e internacional en la asistencia a personas mayores. Nuestro objetivo es crear un ecosistema propio para nuestros mayores, que a través de diversas actividades adquieran una mayor funcionalidad, mejoren su calidad de vida y su estado de salud, promoviendo lo que denominamos una VEJEZ ACTIVA.
      </p>
    <p>El nombre “Enxebre” se eligió por su sonoridad y significado, representando nuestros servicios tradicionales y perdurables, característicos de nuestra región. Nuestra filosofía combina equilibradamente lo tradicional y lo vanguardista.</p>
  </div>
</div>