<div class="whoweare">
  <div class="title">
    <h1>¿Quienes somos?</h1>
  </div>
  <div class="body">
    <p>Enxebre Residencial es una empresa con ideas innovadoras y más de 25 años de experiencia profesional e internacional en la asistencia a personas mayores. Nuestro objetivo es crear un ecosistema propio para nuestros mayores, que a través de diversas actividades adquieran una mayor funcionalidad, mejoren su calidad de vida y su estado de salud, promoviendo lo que denominamos una VEJEZ ACTIVA.
      </p>
    <p>El nombre “Enxebre” se eligió por su sonoridad y significado, representando nuestros servicios tradicionales y perdurables, característicos de nuestra región. Nuestra filosofía combina equilibradamente lo tradicional y lo vanguardista.</p>
  </div>
</div>