app-header {
  display: flex;
  flex-direction: column;
}

.app-body {
  height: 100%;
  background-color: #cfffcf;
  display: flex;
  flex-direction: row;

  ::ng-deep app-whoweare,
  ::ng-deep app-contact,
  ::ng-deep app-home {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #008228;
    background-color: #ebffeb;
    width: 100%;
  }

  ::ng-deep app-home {
    background-color: transparent;
    border: none;
  }
}

app-footer {
  height: 80px;
}