app-header {
  height: 10%;
  display: flex;
  flex-direction: column;
}

router-outlet {
  background: none;
}

::ng-deep app-home,
::ng-deep app-contact {
  background-image: url(/assets/img/exterior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

app-footer {
  height: 10%;
  color: white;
}