app-header {
  display: flex;
  flex-direction: column;
}

.app-body {
  height: auto;
  background-image: url(/assets/img/exterior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;

  app-organization {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid green;
    background-color: #cfffcf;;
    width: 30%;
  }

  ::ng-deep app-whoweare,
  ::ng-deep app-contact {
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 4px;
    border: 1px solid green;
    background-color: #cfffcf;;
    width: 70%;
  }

  ::ng-deep app-home {
    background-color: transparent;
    width: 70%;
  }
}

app-footer {
  height: 80px;
}