<div class="organization">
  <div class="title">
    <span class="commonThreeDots">Organización</span>
  </div>
  <div class="body">
    <div class="person">
      <div class="image">
        <img src="/assets/img/EmiliaVarelaSouto.jpg" alt="Emilia Varela">
      </div>
      <div class="description">
        <span class="name commonThreeDots">Mª Emilia Varela Souto</span>
        <span class="job commonThreeDots">Directora</span>
      </div>
    </div>
    <div class="person">
      <div class="image">
        <img src="/assets/img/profile_undefined.jpg" alt="Undefined Guy">
      </div>
      <div class="description">
        <span class="name commonThreeDots">Chico random</span>
        <span class="job commonThreeDots">Unemployed</span>
      </div>
    </div>
    <div class="person">
      <div class="image">
        <img src="/assets/img/profile_undefined.jpg" alt="Undefined Guy">
      </div>
      <div class="description">
        <span class="name commonThreeDots">Chico random</span>
        <span class="job commonThreeDots">Unemployed</span>
      </div>
    </div>
    <div class="person">
      <div class="image">
        <img src="/assets/img/profile_undefined.jpg" alt="Undefined Guy">
      </div>
      <div class="description">
        <span class="name commonThreeDots">Chico random</span>
        <span class="job commonThreeDots">Unemployed</span>
      </div>
    </div>
    <div class="person">
      <div class="image">
        <img src="/assets/img/profile_undefined.jpg" alt="Undefined Guy">
      </div>
      <div class="description">
        <span class="name commonThreeDots">Chico random</span>
        <span class="job commonThreeDots">Unemployed</span>
      </div>
    </div>
  </div>
</div>